<div class="container">
  <div class="row">
    <form class="col-sm-12" [formGroup]="register" (ngSubmit)="onSubmit()" novalidate>
      <h2 class="text-center">User Registration</h2>
      <div class="form-row form-group">
        <label class="col-sm-3 col-form-label">Email</label>
        <input formControlName="email" type="email" required
               [class.is-invalid]="register.controls.email.invalid && (register.controls.email.dirty||register.controls.email.touched)"
               class="form-control col-sm-9"
               name="email" id="email"
               aria-describedby="helpId"
               placeholder="Input email">
        <div *ngIf="register.controls.email.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.email.errors.required" class="col-sm-9 offset-sm-3">Email is required</div>
          <div *ngIf="register.controls.email.errors.pattern" class="col-sm-9 offset-sm-3">Email is not correct</div>
        </div>

      </div>

      <div class="form-row form-group">
        <label class="col-sm-3 col-form-label">Password</label>
        <input formControlName="password" type="password"
               [class.is-invalid]="register.controls.password.invalid && (register.controls.password.dirty||register.controls.password.touched)"
               class="form-control col-sm-9"
               name="password" id="password"
               aria-describedby="helpId"
               placeholder="Input password">

        <div *ngIf="register.controls.password.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.password.errors.required" class="col-sm-9 offset-sm-3">Password is required
          </div>
          <div *ngIf="register.controls.password.errors.minlength" class="col-sm-9 offset-sm-3">Minimum 6 characters
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <label class="col-form-label col-sm-3">Confirm Password</label>
        <input formControlName="confirmPassword" type="password"
               [class.is-invalid]="register.controls.confirmPassword.invalid && (register.controls.confirmPassword.dirty||register.controls.confirmPassword.touched)"
               class="col-sm-9 form-control"
               name="confirmPassword"
               id="confirmPassword"
               aria-describedby="helpId"
               placeholder="Confirm Password">

        <div *ngIf="register.controls.confirmPassword.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.confirmPassword.errors.required" class="col-sm-9 offset-sm-3">ConfirmPassword is
            required
          </div>
          <div *ngIf="register.controls.confirmPassword.errors.minlength" class="col-sm-9 offset-sm-3">Minimum 6
            characters
          </div>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label col-sm-3">Country</label>
        <select class="form-control col-sm-9"
                [class.is-invalid]="register.controls.country.invalid && (register.controls.country.touched || register.controls.country.dirty)"
                formControlName="country" name="country" id="country">
          <option value="">Choose Country</option>
          <option value="USA">USA</option>
          <option value="Vietnam">Vietnam</option>
          <option value="China">China</option>
        </select>
        <div *ngIf="register.controls.country.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.country.errors.required" class="col-sm-9 offset-sm-3">Country is required</div>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label col-sm-3">Age</label>
        <input formControlName="age" type="number"
               [class.is-invalid]="register.controls.age.invalid && (register.controls.age.touched||register.controls.age.dirty)"
               class="form-control col-sm-9"
               name="age" id="age"
               aria-describedby="helpId"
               placeholder="Input age">
        <div *ngIf="register.controls.age.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.age.errors.required" class="col-sm-9 offset-sm-3"> Age is required</div>
          <div *ngIf="register.controls.age.errors.min" class="col-sm-9 offset-sm-3"> Age is required more than 18</div>
        </div>
      </div>
      <div class="form-check form-row pl-0 form-group">
        <label class="col-form-label col-sm-4 ">Gender</label>
        <label class="form-check-label col-sm-2">
          <input formControlName="gender" type="radio"
                 [class.is-invalid]="register.controls.gender.invalid && (register.controls.gender.touched||register.controls.gender.dirty)"
                 class="form-check-input"
                 name="gender" id="male"
                 value="male">
          Male
        </label>
        <label class="form-check-label">
          <input formControlName="gender" type="radio"
                 class="form-check-input"
                 name="gender" id="female" value="female">
          Female
        </label>
        <div *ngIf="register.controls.gender.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.gender.errors.required" class="col-sm-9 offset-sm-3">Gender is required</div>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label col-sm-3">Phone</label>
        <input formControlName="phone" type="number"
               [class.is-invalid]="register.controls.phone.invalid && (register.controls.phone.dirty || register.controls.phone.touched)"
               class="form-control col-sm-9"
               name="phone" id="phone"
               aria-describedby="helpId"
               placeholder="Input phone">
        <div *ngIf="register.controls.phone.invalid" class="invalid-feedback">
          <div *ngIf="register.controls.phone.errors.required" class="col-sm-9 offset-sm-3">Phone Number is required
          </div>
          <div *ngIf="register.controls.phone.errors.pattern" class="col-sm-9 offset-sm-3">Phone Number is not correct
          </div>
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="btn btn-outline-primary"
                  type="submit" [disabled]="register.invalid && register.dirty">Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
